<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .entry.Name }}</title>
    <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/node_modules/now-ui-kit/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/node_modules/now-ui-kit/assets/css/now-ui-kit.css" rel="stylesheet"/>
    <link href="/assets/now-ui-kit.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg bg-white">
	<div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand text-primary" href="#pablo">
              {{ .entry.Name }}
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
   	      <span class="navbar-toggler-bar bar1"></span>
	      <span class="navbar-toggler-bar bar2"></span>
	      <span class="navbar-toggler-bar bar3"></span>
 	    </button>
          </div>

          <div class="collapse navbar-collapse justify-content-end" id="navigation">
    	    <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  Info
                </a>
              </li>
	    </ul>
          </div>
	</div>
      </nav>
      <br/>
      <div class="container">
	<div class="row">
          <div class="col-12 col-md-6 offset-md-3">
	    <div class="card" data-background-color="red">
	      <div class="card-body">
		<h6 class="category-social">
		  <i class="fa fa-fire"></i> Basic Info
		</h6>
		<p class="card-description">
		  <strong>Age: </strong> {{ .entry.Age }}
		</p>
		<div class="card-footer">
		  <div class="author">
		    <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
		    <span>{{ .entry.Name }}</span>
		  </div>
		  <div class="stats stats-right">
		    <a href="/file/{{ .entry.ID }}" target="_blank"><i class="now-ui-icons files_paper"></i> View file</a>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/popper.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/plugins/bootstrap-switch.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/plugins/nouislider.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/now-ui-kit.js"></script>
  </body>
</html>
