<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .entry.Name }}</title>
    <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/node_modules/now-ui-kit/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/node_modules/now-ui-kit/assets/css/now-ui-kit.css" rel="stylesheet"/>
    <link href="/assets/now-ui-kit.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper">
      <br/>
      <div class="container">
	<div class="row">
          <div class="col-12 col-md-6 offset-md-4">
	    <div class="card card-signup" data-background-color="orange">
	      <div class="header text-center">
		<h4 class="title title-up">{{ .entry.Name }}</h4>
		<p class="text-center">
		  <strong>Age</strong>
		  {{ .entry.Age }}
		</p>
	      </div>
	      <div class="card-body d-flex justify-content-center">
		<a class="btn btn-round btn-neutral" href="/file/{{ .entry.ID.Hex }}" target="_blank">View file</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/popper.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/plugins/bootstrap-switch.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/plugins/nouislider.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/now-ui-kit.js"></script>
  </body>
</html>
