<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/node_modules/now-ui-kit/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet"/>
    <style>
     .navbar .navbar-toggler-bar {
      background: #2362af;
     }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand text-primary" href="#pablo">
            Demo
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
   	    <span class="navbar-toggler-bar bar1"></span>
	    <span class="navbar-toggler-bar bar2"></span>
	    <span class="navbar-toggler-bar bar3"></span>
 	  </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
    	  <ul class="navbar-nav">
            <li class="nav-item">
	      <a class="nav-link" href="/portal">
		New entry
	      </a>
            </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/list">
		Entries
	      </a>
            </li>
	  </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <div class="container">
	<div class="row">
          <div class="col-12">
	    <div class="row">
	      <div class="col-md-4 offset-md-4 col-12">
		<h4>New entry</h4>
		<form action="" method="post">
		  {{ if .errors }}
		    {{ range .errors }}
		      <div class="alert alert-danger">
			{{ . }}
		      </div>
		    {{ end}}
		  {{ end }}
		  {{ if .message }}
		    <div class="alert alert-primary">
		      {{ .message }}
		    </div>
		  {{ end }}
		  <div class="form-group">
		    <label for="id_category">License category</label>
		    <select id="id_category" name="category" class="form-control" required>
		      <option value="">-- select license category --</option>
		      {{ range $key, $value := .categories }}
			<option value="{{ $key }}">{{ $value }}</option>
		      {{ end }}
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="id_license">License number</label>
		    <input id="id_licence_number" class="form-control" name="licence_number" type="text" value="" placeholder="License number*" required/>
		  </div>
		  <div class="form-group">
		    <label for="id_year">Year</label>
		    <input id="id_year" class="form-control" name="year" type="text" value="" placeholder="Year*" required/>
		  </div>
		  <div class="form-group">
		    <label for="id_applicant_name">Commercial name for applicant</label>
		    <input id="id_applicant_name" class="form-control" name="applicant_name" type="text" value="" placeholder="Commercial name for applicant*" required/>
		  </div>
		  <div class="form-group">
		    <label for="id_business_id">Business ID</label>
		    <input id="id_business_id" class="form-control" name="business_id" type="text" value="" placeholder="Business ID*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Pin number</label>
		    <input id="id_pin_no" class="form-control" name="pin_no" type="text" value="" placeholder="Pin number*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Expiry date</label>
		    <input id="id_expiry_date" class="form-control datetimepicker" name="expiry_date" type="text" value="" placeholder="Expiry date*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Street</label>
		    <input id="id_street" class="form-control" name="location.street" type="text" value="" placeholder="Street*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Town</label>
		    <input id="id_town" class="form-control" name="location.town" type="text" value="" placeholder="Town*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">P.O Box</label>
		    <input id="id_box" class="form-control" name="location.box" type="text" value="" placeholder="P.O Box*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Building</label>
		    <input id="id_building" class="form-control" name="location.building" type="text" value="" placeholder="Building*" required/>
		  </div>
		  <div class="form-group">
		    <label for="">Stall number</label>
		    <input id="id_stall" class="form-control" name="location.stall_number" type="text" value="" placeholder="Stall number"/>
		  </div>
		  <div class="form-group">
		    <button class="btn btn-primary btn-round" type="submit">Save</button>
		  </div>
		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/popper.min.js"></script>
    <script src="/assets/node_modules/now-ui-kit/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/node_modules/moment/moment.js"></script>
    <script src="/assets/js/now-ui-kit.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script>
     if($(".datetimepicker").length != 0){
       $('.datetimepicker').datetimepicker({
	 format: 'MM/DD/YYYY',
         icons: {
           time: "now-ui-icons tech_watch-time",
           date: "now-ui-icons ui-1_calendar-60",
           up: "fa fa-chevron-up",
           down: "fa fa-chevron-down",
           previous: 'now-ui-icons arrows-1_minimal-left',
           next: 'now-ui-icons arrows-1_minimal-right',
           today: 'fa fa-screenshot',
           clear: 'fa fa-trash',
           close: 'fa fa-remove'
         }
       });
     }
    </script>
  </body>
</html>
